@{
    ViewData["Title"] = "Metrics";
}

@model List<DevProdWebApp.Models.Metric>
<h1>@ViewData["Title"]</h1>

<p>Add Metrics for performance evaluation</p>

Metric : <input type="text" id="metric"/>
Weight : <input type="text" id="weight"/>
Project :
<select id="project" style="width:200px">
    @foreach (var z in (List<Project>)ViewData["Projects"])
    {
        <option value="@z.Id">@z.Name</option>
    }
</select>
<button class="btn btn-primary" onclick="send()" type="submit">Add Metric</button>


<p>Currently selected Performance Metrics</p>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Project Name</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Name</td>
            <td>@x.Weight</td>
            <td>@x.ProjectName</td>
        </tr>
    }
</table>




<script type="text/javascript">
    function send() {
        var metric = document.getElementById('metric').value;
        var weight = document.getElementById('weight').value;
        var project = document.getElementById('project').value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddMetrics", "Home")',
            data: { metric: metric, weight: weight, projectId: project },
            success: function (response) {
             //   alert('Success: ');
                location.reload();
            },
            error: function (xhr, status, error) {
              //  alert('Error: ');
            }
        });

    }
</script>
