@{
    ViewData["Title"] = "Settings";
}

@model List<DevProdWebApp.Models.Metric>
<h1>@ViewData["Title"]</h1>

<p>Add Metrics for performance evaluation</p>

Metric : <input type="text" id="metric"/>
Weight : <input type="text" id="weight"/>
<button class="btn btn-primary" onclick="send()" type="submit">Add Metric</button>


<p>Currently selected Performance Metrics</p>
@foreach(var x in Model)
{
    <div>@x.Id  @x.Name  @x.Weight  @x.ProjectName</div>
}




<script type="text/javascript">
    function send() {
        var metric = document.getElementById('metric').value;
        var weight = document.getElementById('weight').value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddMetrics", "Home")',
            data: { metric: metric, weight: weight },
            success: function (response) {
             //   alert('Success: ');
                location.reload();
            },
            error: function (xhr, status, error) {
              //  alert('Error: ');
            }
        });

    }
</script>
